*.o
*.dylib
*.so
*.class
*.swp
target/*
front_server/*.iml
front_server/target/*
.idea
.ieda/*
*.iml
*.ipr
*.iws
**/*.iml

# Eclipse
.classpath
.apt_generated
.settings
.project
org.eclipse.jdt.core.prefs
org.maven.ide.eclipse.prefs

#Android
gen
bin

#log
logs/*
*.log